#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.hv {
  &:hover {
    transition: 250ms ease;
    background: #04799c;
  }
}
.icon {
  width: 70px;
  height: 70px;
  border-radius: 20%;
}

.start {
  margin-top: 20px;
}

.cards {
  min-width: 300px;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  gap: 10px;
  border: solid 3px #fff;
}
.card {
  display: grid;
  place-items: center;
  width: 50px;
  height: 75px;
  border: solid 2px #fff;
  border-radius: 10px;
  font-size: 20px;
  cursor: default;
}

.turn{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.cell_turn{
  width: 70px;
  height: 70px;
  border-radius: 20%;
  border: solid 2px #fff;

  display: grid;
  place-items:center;
  transition: 100ms;
}